<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="templates/css/indexestilos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
    <main>

        
        <a href="asignar">
            <div class="btn-style1">
                <button type="submit" class="btn1">Asignar Estudiantes</button>
            </div>
        </a>
        
        <a href="desasignar">
            <div class="btn-style2">
                <button type="submit" class="btn2">Desasignar Estudiantes</button>
            </div>
        </a>    
        
        <a href="exportar_estudiantes_curso">
            <div class="btn-style3">
                <button type="submit" class="btn3">Exportar listado de estudiantes por curso </button>
            </div>
        </a> 
        
        <a href="exportar_cursos_estudiante">
            <div class="btn-style4">
                <button type="submit" class="btn4">Exportar listado de cursos por estudiante</button>
            </div>
        </a> 
        
    </main>

</body>

</html>